@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@use "./styles/base";
@use "./styles/layout";
@use "./styles/utilities";
@use "./styles/components";

@import "tailwindcss";

:root {
  --bg-color: #fff;
  --text-color: #111;
}

[data-theme="dark"] {
  --bg-color: #111;
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  height: 100%;
  scroll-behavior: auto;
  overscroll-behavior: none;
}

.padding_section {
  padding: 50px 90px;

  @media (max-width: 1024px) {
    padding: 40px 60px;
  }

  @media (max-width: 768px) {
    padding: 30px 16px;
  }
}

// Home

.home_page {
  .who_we_are_section {
    height: 100dvh;
    background-color: #f7f6f1;

    position: sticky;
    top: 0;

    display: grid;
    place-items: center;
  }

  .home_aboutus_section {
    // z-index: 999;

    // padding: 110px 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: #000000;
    gap: 32px;

    div {
      display: flex;
      align-items: center;
    }
  }

  .home_services_section {
    // padding: 110px 90px;
    background-color: white;
    color: #000000;

    width: 100%;
  }
}

// .portfolio_page {
//   padding: 50px 90px;
// }

// @media (max-width: 1024px) {
//   .portfolio_page {
//     padding: 40px 60px;
//   }
// }

// @media (max-width: 768px) {
//   .portfolio_page {
//     padding: 30px 0px;
//   }
// }

h1,
h2,
p {
  margin: 0;
}
