.input_field {
    input {
        border-bottom: 1px solid #F7F6F1CC;
        outline: none;

        // font-family: Brockmann;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: -3%;
        color: #F7F6F1CC;
        width: 100%;
        padding: 8px 0;
    }
}