.faq_page {
  display: flex;
  align-items: start;
  gap: 50px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  padding-top: 200px;
  padding-bottom: 100px;

  .faq_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;

    .accordians_wrapper {
      display: flex;
      width: 100%;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 30px;
      }

      .accordians {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
  }
}
